[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
postgres = "==2.2.1"
aiohttp = "==1.0.5"
requests = "==2.18.4"
"beautifulsoup4" = "==4.6.0"
"html2text" = "==2018.1.9"
Pillow = "==5.1.0"
dbl = {git = "https://github.com/Douile/DBL-Python-Library.git"}
"discord.py" = "*"
async-timeout = "*"
memory-profiler = "*"

[dev-packages]

[requires]
python_version = "3.6.6"
